$$
SUPPORT(A \to B) = \frac{\text{(Transaction contains A and B) } }{\text{Total number of transactions} }
$$

$$
CONFIDENCE(A \to B) = \frac{\text{(Transaction contains A and B) } }{\text{Number of transactions containing A } }
$$

For an itemset contains n items, the potential rules are:
$$
N = 3^n - 2^{n+1} + 1
$$

In [1]:
dataset = [
    ["Bread", "Milk", "Butter"],
    ["Bread", "Diapers", "Milk", "Beer"],
    ["Milk", "Diapers", "Beer", "Orange Juice"],
    ["Bread", "Milk", "Diapers", "Butter"],
    ["Bread", "Beer", "Orange Juice"],
    ["Milk", "Butter"],
    ["Bread", "Milk", "Beer", "Butter"],
    ["Diapers", "Orange Juice"],
    ["Bread", "Milk", "Diapers", "Beer", "Butter"],
    ["Bread", "Diapers", "Orange Juice", "Butter"],
    ["Eggs", "Cereal", "Milk"],
    ["Bread", "Eggs", "Cereal", "Orange Juice"]
]
dataset

[['Bread', 'Milk', 'Butter'],
 ['Bread', 'Diapers', 'Milk', 'Beer'],
 ['Milk', 'Diapers', 'Beer', 'Orange Juice'],
 ['Bread', 'Milk', 'Diapers', 'Butter'],
 ['Bread', 'Beer', 'Orange Juice'],
 ['Milk', 'Butter'],
 ['Bread', 'Milk', 'Beer', 'Butter'],
 ['Diapers', 'Orange Juice'],
 ['Bread', 'Milk', 'Diapers', 'Beer', 'Butter'],
 ['Bread', 'Diapers', 'Orange Juice', 'Butter'],
 ['Eggs', 'Cereal', 'Milk'],
 ['Bread', 'Eggs', 'Cereal', 'Orange Juice']]

In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

Te = TransactionEncoder()
Te_ary = Te.fit(dataset).transform(dataset)
Te_ary

array([[False,  True,  True, False, False, False,  True, False],
       [ True,  True, False, False,  True, False,  True, False],
       [ True, False, False, False,  True, False,  True,  True],
       [False,  True,  True, False,  True, False,  True, False],
       [ True,  True, False, False, False, False, False,  True],
       [False, False,  True, False, False, False,  True, False],
       [ True,  True,  True, False, False, False,  True, False],
       [False, False, False, False,  True, False, False,  True],
       [ True,  True,  True, False,  True, False,  True, False],
       [False,  True,  True, False,  True, False, False,  True],
       [False, False, False,  True, False,  True,  True, False],
       [False,  True, False,  True, False,  True, False,  True]])

In [5]:
df = pd.DataFrame(Te_ary, columns=Te.columns_)
df

     Beer  Bread  Butter  Cereal  Diapers   Eggs   Milk  Orange Juice
0   False   True    True   False    False  False   True         False
1    True   True   False   False     True  False   True         False
2    True  False   False   False     True  False   True          True
3   False   True    True   False     True  False   True         False
4    True   True   False   False    False  False  False          True
5   False  False    True   False    False  False   True         False
6    True   True    True   False    False  False   True         False
7   False  False   False   False     True  False  False          True
8    True   True    True   False     True  False   True         False
9   False   True    True   False     True  False  False          True
10  False  False   False    True    False   True   True         False
11  False   True   False    True    False   True  False          True

In [9]:
from mlxtend.frequent_patterns import apriori
apriori(df, min_support=0.3, use_colnames=True)

     support               itemsets
0   0.416667                 (Beer)
1   0.666667                (Bread)
2   0.500000               (Butter)
3   0.500000              (Diapers)
4   0.666667                 (Milk)
5   0.416667         (Orange Juice)
6   0.333333          (Beer, Bread)
7   0.333333           (Beer, Milk)
8   0.416667        (Butter, Bread)
9   0.333333       (Bread, Diapers)
10  0.416667          (Bread, Milk)
11  0.416667         (Butter, Milk)
12  0.333333        (Milk, Diapers)
13  0.333333  (Butter, Bread, Milk)

In [10]:
freq_itemsets = apriori(df, min_support=0.3, use_colnames=True)
freq_itemsets[freq_itemsets.itemsets.apply(lambda x: len(x)) >= 2]

     support               itemsets
6   0.333333          (Beer, Bread)
7   0.333333           (Beer, Milk)
8   0.416667        (Butter, Bread)
9   0.333333       (Bread, Diapers)
10  0.416667          (Bread, Milk)
11  0.416667         (Butter, Milk)
12  0.333333        (Milk, Diapers)
13  0.333333  (Butter, Bread, Milk)

In [22]:
from mlxtend.frequent_patterns import association_rules

association_rules(freq_itemsets,20, metric="confidence", min_threshold=0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Beer),(Bread),0.416667,0.666667,0.333333,0.800000,1.2000,1.0,0.055556,1.666667,0.285714,0.444444,0.400000,0.650000
1,(Beer),(Milk),0.416667,0.666667,0.333333,0.800000,1.2000,1.0,0.055556,1.666667,0.285714,0.444444,0.400000,0.650000
2,(Butter),(Bread),0.500000,0.666667,0.416667,0.833333,1.2500,1.0,0.083333,2.000000,0.400000,0.555556,0.500000,0.729167
3,(Bread),(Butter),0.666667,0.500000,0.416667,0.625000,1.2500,1.0,0.083333,1.333333,0.600000,0.555556,0.250000,0.729167
4,(Diapers),(Bread),0.500000,0.666667,0.333333,0.666667,1.0000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
5,(Bread),(Milk),0.666667,0.666667,0.416667,0.625000,0.9375,1.0,-0.027778,0.888889,-0.166667,0.454545,-0.125000,0.625000
6,(Milk),(Bread),0.666667,0.666667,0.416667,0.625000,0.9375,1.0,-0.027778,0.888889,-0.166667,0.454545,-0.125000,0.625000
7,(Butter),(Milk),0.500000,0.666667,0.416667,0.833333,1.2500,1.0,0.083333,2.000000,0.400000,0.555556,0.500000,0.729167
8,(Milk),(Butter),0.666667,0.500000,0.416667,0.625000,1.2500,1.0,0.083333,1.333333,0.600000,0.555556,0.250000,0.729167
9,(Diapers),(Milk),0.500000,0.666667,0.333333,0.666667,1.0000,1.0,0.000000,1.000000,0.000000,0.400000,0.000000,0.583333
10,"(Butter, Bread)",(Milk),0.416667,0.666667,0.333333,0.800000,1.2000,1.0,0.055556,1.666667,0.285714,0.444444,0.400000,0.650000
11,"(Butter, Milk)",(Bread),0.416667,0.666667,0.333333,0.800000,1.2000,1.0,0.055556,1.666667,0.285714,0.444444,0.400000,0.650000
12,"(Bread, Milk)",(Butter),0.416667,0.500000,0.333333,0.800000,1.6000,1.0,0.125000,2.500000,0.642857,0.571429,0.600000,0.733333
13,(Butter),"(Bread, Milk)",0.500000,0.416667,0.333333,0.666667,1.6000,1.0,0.125000,1.750000,0.750000,0.571429,0.428571,0.733333

In [23]:
association_rules(freq_itemsets,20, metric="confidence", min_threshold=0.8)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Butter),(Bread),0.5,0.666667,0.416667,0.833333,1.25,1.0,0.083333,2.0,0.4,0.555556,0.5,0.729167
1,(Butter),(Milk),0.5,0.666667,0.416667,0.833333,1.25,1.0,0.083333,2.0,0.4,0.555556,0.5,0.729167

$$
lift(A \to B) = \frac{support(A \cap B)}{support(A) \times support(B)}
$$

When 
The larger the lift value, the stronger the correlation between the antecedent and the consequent

$$
leverage(A \to B) = support(A \cap B) - support(A) \times support(B)

The larger the leverage value, the stronger the correlation between the antecedent and the consequent

$$
conviction(A \to B) = \frac{1 - support(B)}{1 - confidence(A \to B)}
$$

The larger the convicion value, the stronger the correlation between the antecedent and the consequent